$main-color = #cba24f
$window-color = #ffe89e
$window-color-darktheme = #1a1a1a
$top-navigation-color = #cba24f
$top-navigation-color-darktheme = #cba24f
$text-color = #8d7237
$text-color-contrast = #fff
$text-color-darktheme = #fff
$inactive-link-color = #8d7237
$inactive-link-color-contrast = #fff
$inactive-link-color-darktheme = #fff
$line-color = #DDD
$active-tab-background-color = rgba(0, 0, 0, 0.06)
$focused-tab-background-color = rgba(0, 0, 0, 0.03)
$active-tab-background-color-darktheme = rgba(255, 255, 255, 0.06)
$focused-tab-background-color-darktheme = rgba(255, 255, 255, 0.03)
$message-info-border-color = #d8be7b
$message-info-background-color = #ffe89e
$message-info-text-color = #8d7237
$message-error-border-color = rgb(185, 31, 31)
$message-error-background-color = #ffe89e
$message-error-text-color = #8d7237
$message-success-border-color = #0c750c
$message-success-background-color = #ffe89e
$message-success-text-color = #8d7237
$input-bad-border-color = #FCC
$input-bad-background-color = #FFF5F5
$input-good-border-color = #D3E3D3
$input-good-background-color = #F5FFF5
$input-enabled-background-color = #FAFAFA
$input-enabled-border-color = #d8be7b
$input-enabled-text-color = #b5985c
$input-enabled-text-color-darktheme = #b5985c
$input-disabled-background-color = #FAFAFA
$input-disabled-border-color = #EEE
$input-disabled-text-color = $main-color
$button-enabled-text-color = #ffe89e
$button-enabled-background-color = $main-color
$button-enabled-border-color = $text-color
$button-disabled-text-color = #b8a47d
$button-disabled-background-color = #a88a55
$button-disabled-border-color = #705e3a
$post-thumbnail-border-color = $main-color
$post-thumbnail-no-tags-border-color = #F44
$default-tag-category-background-color = $active-tab-background-color
$new-tag-background-color = #DFC
$new-tag-text-color = black
$implied-tag-background-color = #FFC
$implied-tag-text-color = black
$duplicate-tag-background-color = #FDC
$duplicate-tag-text-color = black
$active-note-overlay-background-color = rgba(255, 255, 255, 0.3)
$active-note-overlay-border-color = rgba(62, 255, 62, 0.8)
$note-background-color = rgba(255, 255, 205, 0.3)
$note-border-color = rgba(0, 0, 0, 0.2)
$edited-note-background-color = rgba(222, 255, 222, 0.3)
$edited-note-border-color = rgba(0, 200, 0, 0.9)
$note-text-background-color = lemonchiffon
$note-text-border-color = black
$note-text-text-color = black
$first-note-point-color = orangered
$hovered-note-point-color = red
$hovered-first-note-point-color = red
$safety-safe = #88D488
$safety-sketchy = #e4c124
$safety-unsafe = #F3985F
$scrollbar-thumb-color = $text-color
$scrollbar-bg-color = $main-color
$transparency-grid-square-color = $top-navigation-color
$active-tab-text-color = #ffe89e
$active-tab-text-color-darktheme = #ffe89e
$inactive-tab-text-color = $inactive-link-color
$inactive-tab-text-color-darktheme = $inactive-link-color-darktheme
$tag-suggestions-header-color = $top-navigation-color
$tag-suggestions-header-text-color = $active-tab-text-color
$tag-suggestions-border-color = $text-color
$upload-header-background-color = $top-navigation-color
$upload-header-background-color-darktheme = $top-navigation-color-darktheme
$upload-header-color = #ffe89e
$upload-border-color = #8d7237
$cancel-button-color = tomato
$comment-header-background-color = $top-navigation-color
$comment-header-background-color-darktheme = $top-navigation-color-darktheme
$comment-header-color = $active-tab-text-color
$comment-border-color = $text-color
$token-border-color = $active-tab-background-color