#home
    display: block
    width: 100%
    text-align: center !important
    color: #b5985c

    header
        margin-bottom: 1em
        h1
            line-height: 1.5
            font-size: 4em
            margin: 0

    .messages
        text-align: center
        .message
            margin: 0 auto 2em auto

    form
        display: block
        width: 600px
        max-width: 100%
        vertical-align: middle
        margin: 0 auto 1.5em auto
        text-align: center
        white-space: nowrap
        a
            display: inline-block
            margin-top: 0.5em
            color: #b5985c
            &:hover
                color: #8d7237

        .inputs
            display: flex
            margin: 0 auto
            input
                margin: 0 0.25em
            input[type=text]
                border-radius: 5px

    .post-container
        margin-bottom: 2em
        display: flex
        align-items: center
        justify-content: center
        &:empty
            margin-bottom: 0

    nav
        a
            padding: 0.5em

    aside
        margin-bottom: 0.3em
        font-size: 90%

    footer
        .nep-explanation
            font-size: 1.5em
            color: #8d7237
            @media (min-width: 600px)
                font-size: 2em
        .nep-quote
            font-size: 1.5em
            margin: 1em 0
        ul
            line-height: 150%
            font-size: 80%
            padding: 0
            text-align: center
            li
                display: inline
                white-space: nowrap
                @media (max-width: 800px)
                    display: block
            .sep
                word-spacing: 1.1em
                background-repeat: no-repeat
                background-position: 50% 50%
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><circle cx='6' cy='6' r='2' fill='%23000000'/></svg>")

    .thumbnail
        margin-right: 0.4em
    
    .nep-banner-container
        height: calc(1em + 220px)
        
        .nep-image-container
            position: absolute;
            left: 0
            right: 0
            height: 185px
            background:
                linear-gradient(
                    to bottom,
                    rgba(225,199,131,1) 0%,
                    rgba(225,199,131,0.8) 40%,
                    rgba(225,199,131,0.6) 60%,
                    rgba(225,199,131,0) 90%
                ),
                radial-gradient(#9f7c34 3px, transparent 0)
            background-color: #cba24f
            background-size: auto, 14px 14px
            img
                max-height: 220px
